body{
	background-color: whitesmoke;
	margin:-3px auto;
}
.header{
	margin-top: -20px;
	background-color: black;
	text-align: center;
	color: white;
}
.menulink{
	margin-top: -150px;
	position: fixed;
	width: 100%;
	background-color: grey;
}
.menu{
	margin:auto;
	max-width: 250px;
	margin-top: -22px;
	overflow-x: auto;
}
.menu-link1,
.menu-link2,
.menu-link3,
.menu-link4{
	margin-right: 10px;
	display:inline-block;
	text-decoration: none;
	color: yellow;
	line-height: 20px;
}
.form{
	margin-top:150px;
}
.formpassasage{
	margin: auto;
	max-width: 98%;
}
.bestcolor{
	text-align: center;
}
.header2{
	color: green;
}
.text,
.text1{
	font-family: 'Bondon' , cursive;
	color: greenyellow;
}
.med{
	color: orangered;
}
.formex{
	margin: auto;
	max-width: 98%;
	background-color: white;
	margin-bottom: 20px;

}
