body{
	background-color: whitesmoke;
	margin:-3px auto;
}
.header{
	margin-top: -20px;
	background-color: black;
	text-align: center;
	color: white;
}
.menulink{
	margin-top: -150px;
	position: fixed;
	width: 100%;
	background-color: grey;
}
.menu{
	margin:auto;
	max-width: 250px;
	margin-top: -22px;
	overflow-x: auto;
}
.menu-link1,
.menu-link2,
.menu-link3,
.menu-link4{
	margin-right: 10px;
	display:inline-block;
	text-decoration: none;
	color: yellow;
	line-height: 20px;
}
.form{
	margin-top:150px;
}
.formpassasage{
	margin: auto;
	max-width: 98%;
}
.bestcolor{
	text-align: center;
}
.header2{
	color: green;
}
.headcont{
	margin:auto;
	max-width:300px;
	text-align:center;
	background-color:darkgreen;
	color:white;
}
.text,
.text1{
	font-family: 'Bondon' , cursive;
	color: greenyellow;
}
.med{
	color: orangered;
}
.iconrearrange{
	margin:auto;
	max-width:200px;
}
.formex{
	margin: auto;
	max-width: 98%;
	background-color: white;
	margin-bottom: 20px;
}
.icontele,
.iconface,
.iconinsta,
.iconwhat{
	margin-right:30px;
}
.whaticon,
.faceicon,
.intaicon,
.teleicon{
	font-size:30px;
}
.calltext,
.lweshatext{
	text-decoration:none;
}
.iconwhat{
	color:green;
	font-size:20px;
}
.iconface{
	color:blue;
	font-size:20px;
}
.iconinsta{
	color:yellow;
	font-size:20px;
}
.icontele{
	color:midnightblue;
	font-size:20px;
}
.colorsocial{
	margin:auto;
	max-width:300px;
	background-color:white;
}
.bout,
.contn{
	text-decoration:none;
	background-color:white;
}
